body {
    margin: unset;
    font-family: Arial, Helvetica, sans-serif;
}
body::-webkit-scrollbar {
    display: none;
}
.footer, .header {
    background-color: #257AAA;
    color: white;
    height: 8vh;
    width: 100%;
    text-align: center;
    margin: unset;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "h h h h h h h h h h h h"
                         "s s s s s s s s s s s s"
                         "f f f f f f f f f f f f";
}
.header {
    grid-area: h;
    align-self: center;
    padding-top: 2vh;
}
.footer {
    grid-area: f;
    height: 4vh;
}
.chat-space {
    grid-area: s;
    display: flex;
    height: 86vh;
}
.chat-list {
    width: 40%;
    background-color: #EAF4FB;
    border-right: 2px solid teal;
    margin-right: 2px;
    overflow-y: scroll;
}
.chat-active {
    width: 70%;
    background-color: #F4F5F7;
    display: flex;
    flex-flow: column;
}
.chat-item {
    display: flex;
    align-items: center;
}
.avatar {
    min-width: 60px;min-height: 60px;
    max-width: 60px;max-height: 60px;
    border-radius: 50%;
    margin: 10px;
    background-color: #abf;
}
.recent-message {
    width: 1fr;
}
.chat-item-small-devices {
    display: flex;
    justify-content: space-around;
}
.identification {
    display: flex;
    align-items: center;
}
.cancel {
    margin-right: 1em;
}

.recent-message .you {
    font-weight: 900;
}
.recent-message .name {
    font-size: 150%;
}
.avatar-active {
    border: 5px solid #11e;
}
.messages {
    display: flex;
    flex-flow: column nowrap;
    justify-items: flex-end;
    /* margin-top: auto; */
    margin-bottom: unset;
    overflow-y: auto;
}
.messages > * {
    margin-top: 15px;
    border-radius: 5px;
    padding: 7px;
}
.messages > .received {
    align-self: flex-start;
    background-color: #43A0D6;
    margin-right: 20%;
}
.messages > .sent {
    align-self: flex-end;
    background-color: #ABD5ED;
    margin-left: 20%;
}
form.send {
    margin: 10px;
    background-color: #ddd;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    justify-content: space-between;
}
.send-btn {
    width: 65px;
    height: 40px;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    border: unset;
    background-color: #257A77;
}
.send-btn:hover {
    background-color: #257AAA;
    width: 80px;
    transition: ease-in 0.3s width, ease-in 0.3s background-color;
}
.text-input {
    background-color: inherit;
    border-radius: 5px;
    padding: 5px;
    border: inherit;
    resize: vertical;
    max-height: 90px;
    min-height: 40px;
    width: 100%;
    font-size: 17px;
}
.text-input::placeholder{
    color: #698;
    font-weight: 600;
}
*:focus{
    outline: none;
}

@media only screen and (max-width: 768px) {
    .chat-list {
        grid-area: s;
        width: 100%;
    }
    .chat-active {
        display: none;
    }
}